.container
  .hero-unit
    .thumbnail.span3
      img(src="/images/hormon.jpg", alt="鈴木屋のホルモン")
    h1 Shut the fuck up and write some code
    p: a.btn.btn-primary.btn-large 鈴木屋->ホルモン

  .row
    .span4
      h2 Haskell
      img(src="/images/haskell-logo.png", alt="Haskell")

    .span4
      h2 Node.js
      img(src="/images/node-logo.png", alt="Node.js")

    .span4
      h2 Git
      img(src="/images/git-logo.png", alt="Git")
