.container
  .hero-unit
    .thumbnail.span3
      img(src="/images/hormon.jpg", alt="鈴木屋のホルモン")
    h1 Shut the fuck up and write some code
    p: a.btn.btn-primary.btn-large(href="http://atnd.org/events/36699") 鈴木屋->ホルモン
    p 今回は三島市広小路のあたりでやります。懇親会はホルモンです。抽象化された肉について議論を深めます。そして再帰的ビール。
  .row
    .span4
      h2 Haskell
      img(src="/images/haskell-logo.png", alt="Haskell")

    .span4
      h2 Node.js
      img(src="/images/node-logo.png", alt="Node.js")

    .span4
      h2 Git
      img(src="/images/git-logo.png", alt="Git")
