.container
  .row#members
script
  $.getJSON('https://api.github.com/orgs/shizuru/members?callback=?', null, function (response) {
    var members = response.data;
    for(var i=0; i < members.length; i++){
      var html = '<div class="span4"><div class="row"><div class="span1">' +
                 '<img src="' + members[i].avatar_url + '" /></div>' +
                 '<div class="span3"><h3><a href="' + members[i].html_url + '">' + members[i].login + '</a></h3></div>' +
                 '</div></div>';
      $('#members').append(html);
    }
  });